<% var header = 'header'; %>
<%- include(header) %>
<div class="row">
    <div class="col-sm-6">
            <h1>Create Account Test</h1>
            <%= hash,
            password,
            username,
            role,
            name,
            email
             %>
    </div>
</div>

<% var footer = 'footer'; %>
<%- include(footer) %>