<% var header = '../header'; %>
<%- include(header) %>

   <div class="container-fluid mt-4">   
      <div class="jumbotron">
            <div class = "page-header">
                    <div class="page-header">
                            <div class="row">
                        <div class="col-sm-10">
                            <h2>Add a new Team</h2>
                            <hr>
                            </div>
                            </div>
                        </div>
           </div>
    <form action="/teams/add/" method="POST" id="add">
        
            <div class="form-group">
                    <h3>Team Name:</h3>
                    <input class="form-control text-short" name="Name_Text" type="text"  id="Name_Text">
            </div>
            <div class="form-group">
                    <h3>Description:</h3>
                    <textarea class="form-control z-depth-1 text-long" name="Description_Text" type="text" id="Description_Text" rows="5" autofocus></textarea>
            </div>
            <div class="form-group">
                    <h3>Former Names:</h3>
                    <input class="form-control text-short" name="Former_Names_Text" type="text" id="Former_Names_Text">
            </div>
            <div class="form-group">
                    <h3>Portfolio Stage:</h3>
                    <select id='Portfolio_Stage_Select' name='Portfolio_Stage_Select' style="width:600px;height:300px ;">
                            <option disabled selected value> -- select an option -- </option>
                            <% arr=["Spinout","License","Pipeline","Unknown"] %>
                            <% for (var key in arr){ %>
                                <option value="<%= arr[key] %>"><%= arr[key] %></option>
                            <%   }   %>
                    </select>
            </div>
            <div class="form-group">
                    <h3>Portfolio Sub Stage:</h3>
                    <select id='Portfolio_Sub_Stage_Select' name="Portfolio_Sub_Stage_Select" style="width:600px;height:300px ;">
                            <option disabled selected value> -- select an option -- </option>
                            <% arr=["Stage 1: Funding","Stage 2: Research","Stage 3a: Disclosure","Stage 3b: IP Development","Stage 4: Technology and Market Validation","Stage 5: License/Spinout","Stage 6a: Pre-Seed","Stage 6b: Seed","Stage 6c: VC(a, b, c)"] %>
                            <% for (var key in arr){ %>
                                <option value="<%= arr[key] %>"><%= arr[key] %></option>
                            <%   }   %>
                    </select>
            </div>
            <div class="form-group">
                    <h3>Case Number:</h3>
                    <input class="form-control text-short" type="text" id="Case_Number_Text" name="Case_Number_Text">
            </div>
            <div class="form-group">
                    <h3>Technology Description:</h3>
                    <textarea class="form-control z-depth-1 text-long" type="text" id="Technology_Description_Helper" name="Technology_Description_Helper" rows="5" autofocus></textarea>
            </div>
            <div class="form-group">
                    <h3>Notes:</h3>
                    <textarea class="form-control z-depth-1 text-long" type="text" id="Notes_Text" name="Notes_Text" rows="5" autofocus></textarea>
            </div>
            <div class="form-group">
                    <h3>Team Webpage:</h3>
                    <input class="form-control text-short" type="text" id="Team_Webpage_External" name="Team_Webpage_External">
            </div>
            <div class="form-group">
                    <h3>Milestones:</h3>
                    <textarea class="form-control z-depth-1 text-long" type="text" id="Milestones_Text" name="Milestones_Text" rows="5" autofocus></textarea>
            </div>
            <div class="form-group">
                <h3>Supporting Docs:</h3>
                <textarea class="form-control z-depth-1 text-long" type="text" id="Supporting_Docs_External" name="Supporting_Docs_External" rows="5" autofocus></textarea>
            </div>
            <div class="form-group">
                    <h3>FY Launch:</h3>
                    <select id='FY_Launch_Select' name="FY_Launch_Select" style="width:600px;height:300px ;">
                            <option disabled selected value> -- select an option -- </option>
                            <% arr=[2018,2017,2016,2015,2014] %>
                            <% for (var key in arr){ %>
                                <option value="<%= arr[key] %>" selected="selected"><%= arr[key] %></option>
                            <%   }   %>
                    </select>
            </div>
        
    <%# heading","array of values","field name in record" %>
    <% arr_values=[["Members",members,"Member_Link"],["Team Categories",team_categories,"Team_Category_Link"],["Funding",fundings,"Funding_Link"]
    ,["Licensing Managers",licensing_managers,"Licensing_Manager_Link"],["Technology",technologies,"Technology_Link"],["Eir",eirs,"Eir_Link"],["Event",events,"Event_Link"]
    ,["First Place Event",events,"1st_Place_Event_Helper"],["Second Place Event",events,"2nd_Place_Event_Helper"],["Third Place Event",events,"3rd_Place_Event_Helper"],] %>
    <% for (var arr_key in arr_values) { %>
    <% heading= arr_values[arr_key][0] %>
    <% values= arr_values[arr_key][1] %>
    <% field_name= arr_values[arr_key][2] %>
    
    <h3><%= heading %>:</h3>
    <select multiple id='<%= field_name %>' name='<%= field_name %>' style="width:600px;height:300px ;">
            <% for (var key in values) { %>
                    <option value="<%= values[key]['id'] %>"><%= values[key]['name'] %></option>
                    <% } %>
              </select>
              <% } %>
              <button class="btn btn-primary" type="submit" id="edit-submit">Submit</button>
    </form>
    </div>
    </div>
    <script>
        /*
            These are the input values which I had to selectize as they were coming from another table.


        */
        <% for (var arr_key in arr_values) { %>
           $('<%= "#"+arr_values[arr_key][2] %>').selectize();
           
        <%  } %>
            /*
                These are the values which are static options.
            */
        $('#FY_Launch_Select').selectize();
        $('#Portfolio_Sub_Stage_Select').selectize(); 
        $('#Portfolio_Stage_Select').selectize();
        </script>
        
<% var footer = '../footer'; %>
<%- include(footer) %>