<% var header = '../header'; %>
<%- include(header) %>

<% JSON.stringify(records) %>
<div class="container-fluid mt-3">
<div class="page-header mt-3">
  <div class="row">
    <div class="col-md-10">
  <h1>Teams</h1>
  </div>
  <div class="col-md-2 pull-right">
      <a class="btn btn-primary btn-lg active" href="/teams/report/" role="button">Custom Report/Filter</a>
  </div>
  </div>
</div>
<table id="example" class="table table-striped table-bordered mt-5" cellspacing="20" style="width:100%">
            <thead>
                    <tr>
                      <th class="th-sm">Team Name
                        <i class="fa fa-sort float-right" aria-hidden="true"></i>
                      </th>
                      <th class="th-sm">Team Category
                        <i class="fa fa-sort float-right" aria-hidden="true"></i>
                      </th>
                      <th class="th-sm">Portfolio Stage
                        <i class="fa fa-sort float-right" aria-hidden="true"></i>
                      </th>
                      <th class="th-sm">Funding
                        <i class="fa fa-sort float-right" aria-hidden="true"></i>
                      </th>
                      <th class="th-sm">Eir
                        <i class="fa fa-sort float-right" aria-hidden="true"></i>
                      </th>
                      <th class="th-sm not-visible">Milestones
                        <i class="fa fa-sort float-right" aria-hidden="true"></i>
                      </th>
                      <th class="th-sm last-column">Actions
                        <i class="fa fa-sort float-right" aria-hidden="true"></i>
                      </th>
                    </tr>
                  </thead>
    <tbody>
<% for (arr_key in records) { %>
        <tr>
            <td><a href='/teams/view/<%= records[arr_key]["id"] %>'><%= records[arr_key]["record"]["Name_Text"] %></a></td>
            <td><%= records[arr_key]["record"]["Team_Category_Name"] %></td>
            <td><%= records[arr_key]["record"]["Portfolio_Stage_Select"] %></td>
            <td><%= records[arr_key]["record"]["Funding_Name"] %></td>
            <td><%= records[arr_key]["record"]["Eir_Name"] %></td>
            <td><%= records[arr_key]["record"]["Milestones_Text"] %></td>
            <td>
                <div class="row mt-2">
                    <div class="col">
                <a class="btn btn-primary btn-block" href='/teams/view/<%= records[arr_key]["id"] %>' role="button">View</a>
                        </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                <a class="btn btn-primary btn-block" href='/teams/edit/<%= records[arr_key]["id"] %>' role="button">Edit</a>
                </div>
                </div>
            </td>
        </tr>
<% } %>

    </tbody>
</table>
</div>

<script src="/javascripts/datatable.js"></script>
<% var footer = '../footer'; %>
<%- include(footer) %>
