<% var header = '../header'; %>
<%- include(header) %>
<% JSON.stringify(record) %>
<div class="container-fluid mt-4">
    <div class="jumbotron">
        <div class="page-header">
            <div class="row">
        <div class="col-sm-10">
            <h2><%= record["Name_Text"] %></h2>
            <hr>
            </div>
        <div class="col-sm-2">
                <a class="btn btn-primary btn-lg active" href="/teams/edit/<%= id %>" role="button">Edit</a>
                
            </div>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-6">
                <h4>Team Name</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><%= record["Name_Text"] %></p>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-6">
                <h4>Description</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><%= record["Description_Text"] %></p>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-6">
                <h4>Portfolio Stage</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><%= record["Portfolio_Stage_Select"] %></p>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-6">
                <h4>Portfolio Sub Stage</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><%= record["Portfolio_Sub_Stage_Select"] %></p>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-6">
                <h4>Case Number</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><%= record["Case_Number_Text"] %></p>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-6">
                <h4>Member</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><%= record["Member_Name"] %></p>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-6">
                <h4>Event</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><%= record["Event_Name"] %></p>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-6">
                <h4>Funding</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><%= record["Funding_Name"] %></p>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-6">
                <h4>Technology</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><%= record["Technology_Name"] %></p>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-6">
                <h4>Licensing Manager</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><%= record["Licensing_Manager_Name"] %></p>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-6">
                <h4>Supporting Docs</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><%= record["Supporting_Docs_External"] %></p>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-6">
                <h4>Team Members Role</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><%= record["Team_Members_Role_Helper"] %></p>
            </div>
        </div>
    </div>
</div>
<% var footer = '../footer'; %>
<%- include(footer) %>