<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Bootstrap core CSS, Selectize CSS (in order) -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
   <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap2.css" type="text/css" rel="stylesheet">
   <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet">
    <!-- Custom CSS files-->
   <link href="/stylesheets/signin.css" rel="stylesheet" type="text/css"> 
   <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <head>
        <meta charset="utf-8">
        <title>CPRS</title>
    </head>
    <body class="text-center">
      <div class="container mt-5">
        <div class="jumbotron">
            <form class="form-signin" action="/users/login" method="POST" id="signin">
              <img class="mb-4 form-control" src="/images/logo.png" alt="">
              <h2 class="h3 mb-3 font-weight-normal">Log In</h2>
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="text" id="inputEmail" class="form-control" name="username" id="username" placeholder="Email address" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" name="password" id="password" placeholder="Password" required>
              <div class="checkbox mb-3">
                  <!-- 
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
                -->
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
              <% if(typeof authenticated !== 'undefined'){ %>
                <div class="alert alert-danger alert-dismissible mt-3">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>Incorrect Credentials.</strong> Please enter valid credentials.
                </div>
                <% } %>
              <p class="mt-5 mb-3 text-muted">&copy; Innovation Institute 2019</p>
            </form>
        </div>
      </div>

    </body>
</html>


